<div
  class="modal fade"
  id="new-registration"
  tabindex="-1"
  role="dialog"
  aria-labelledby="new-registration-title"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-registration-title">
          Registration Details
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger">
          Reject
        </button>
        <button type="button" class="btn btn-success">Approve</button>
      </div>
    </div>
  </div>
</div>
