<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>HISTORY KNIGHTHOOD</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mamba - v3.0.0
  * Template URL: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <!-- <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="icofont-envelope"></i><a href="mailto:contact@example.com">contact@example.com</a>
        <i class="icofont-phone"></i> +1 5589 55488 55
      </div>
      <div class="social-links float-right">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </section> -->

  <!-- ======= Header ======= -->
 <header id="header">
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a href="/"><span>AWGKSJI <img src="assets/img/portfolio/KSJI LOGO.png"  alt=""><img src="assets/img/portfolio/LADIES LOGO UPDATE 2.jpg"  alt=""></span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          
          <li><a href="/history">History</a></li>
         
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2></h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>HISTORY KNIGHTHOOD</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        <h1>HISTORY KNIGHTHOOD</h1>
        <p style="text-align: justify;">Knighthood traces its originating roots far back as 1048 AD, with a group of Christians in the city of Amalfi, in the Kingdom of Naples, in Italy. These Christians were merchants who came mainly from central Europe and were trading in the Middle East and performing pilgrimage rites.</p>
        <p style="text-align: justify;">These Christian merchants suffered persecutions in the line of their missionary and evangelization works at the hands of agnostic Turks led by Ottoman. These actions prompted them to organize themselves into defense corps and helped to protect other Christians going for pilgrimage.</p>
        <p style="text-align: justify;">They built hospitals in Jerusalem to take care of the sick and wounded. Whist organizing themselves into an identifiable group,  members observed their cause as a reflection of the virtue of St. John the Baptist, in truth, simplicity, and charity and chose St. John the Baptist as the organization’s patron saint; the group’s name became Knights of St. John Hospitallers.</p>
        <p style="text-align: justify;">
          The hospital was erected near the place where Our Lord Jesus Christ fell the second time on His way to Calvary, carrying the ignominious cross. The Hospital was placed under the patronage of St. John the Baptist, the man specially chosen by God to be the herald of the Saviour and to prepare humanity for his coming. The first leader was Grand Master Gerald. They nursed the wounded pilgrims most tenderly and cared for the sick and needy as well.
        </p>
        <p style="text-align: justify;">Their charitable works attracted the first ruler of Jerusalem, King Geoffrey in 1107. When the King visited the Hospital, he was so struck with the efficient way the establishment was managed by Grand Master Gerald that he immediately endowed the Order with memorial rights.</p>
        <p style="text-align: justify;">Upon successful treatment in Jerusalem, as the crusaders returned to the countries, they established similar hospitals throughout Europe to propagate the ideals of the Order. The properties which they acquired facilitated their charitable works.</p>
        <p style="text-align: justify;">When Grand Master Gerald died in 1118, Master Raymond du Puy succeeded him and continued with the good works by using the wealth accumulated to establish more hospitals and infirmaries which were managed by communities of Hospitallers.</p>
        <p style="text-align: justify;">Grand Master Raymond, however, proposed material changes in the constitution of the Order, the most important of which was the requirement that members bore arms for the defense of the church.</p>
        <p style="text-align: justify;">The merchants received the approval of the then King Baldwin II of Jerusalem and from that time onwards the Order of St. John Hospitallers was permanently established on a military basis.</p>
        <p style="text-align: justify;">Large donations made it possible to pay for armed escorts who defended the movement of pilgrims. These escorts later became an army of Knights recruited from among the crusaders. In this way the Knights of St. John became military, but it still retained its original character of caring for the sick, the poor, and the needy</p>

        <h2>MILITARY SETBACKS</h2>
        <p style="text-align: justify;">For years the Knights engaged in different wars with the Moslems and held different strongholds against the enemy of Christendom.</p>
        <p style="text-align: justify;">After the fall of the Kingdom of Jerusalem, following its conquest by Saladin in 1197, the Knights had to move to the city of Acre losing their possessions in the Holy land to infidels. Acre also fell to the invaders, but the crusaders were undaunted. They took refuge in Cyprus  where they built a fleet to protect the pilgrims. They conquered their attackers and occupied the Island of Rhodes for two centuries where they changed the name of the organization to the Knights of Rhodes. They were eventually defeated in 1522 by the Turks but their lives were spared.</p>
        <p style="text-align: justify;">In 1530, King Charles V of Spain granted them the Island of Malta which enabled them to resume the role they played in Rhodes.
 
</p>
        <p style="text-align: justify;">The annual presentation of a falcon to the Viceroy of Spain and a guarantee that they would never make war upon his kingdom was all that was required in return. The organization passed through many levels of reformation and organized uniformed groups of Christian faithful grew especially in the United States of America, where similar challenges of civil war had come to affect Christian Families.</p>

        <h2>The Modern-Day Knights Of St. John International</h2>
        <p style="text-align: justify;">Following the end of the Civil War, there existed a real need for physical and spiritual healing. In 1879, these many organizations, including the Knights of St. George, the Knights of St. Paul, the Knights of St. Louis, and the Knights of St. John met to form a greater society of Knights. They met in Baltimore, Maryland, and formed themselves into the Roman Catholic Union of the Knights of St. John, later shortened to the Knights of St. John. The Order was officially incorporated in the State of New York on May 6, 1886.</p>
        <p style="text-align: justify;">They sought to care for the spiritual, social, and physical needs of their members and neighbors.  In the pattern of the Knights of the Crusade, they cared for the victims of the war by forming a Widows and Orphan Fund.</p>
        <p style="text-align: justify;">The ideals of the KSJI were attractive to many fine gentlemen and the Order grew and prospered. It spread quickly throughout the USA. Similarly, many virtuous women were attracted to its ideals and gathered together to support the knights. The ladies were encouraged to form an organization called the Ladies’ Auxiliary of the Knights of St. John International. The Ladies Auxiliary remained an integral part of the KSJI until June 1900 when a separate body called the Supreme Ladies’ Auxiliary was established.</p>
        <p style="text-align: justify;">The Supreme Ladies’ Auxiliary placed the organization under the guidance and protection of the Blessed Virgin Mary.  </p>
        <p style="text-align: justify;">In November 1923, Pope Pius XI granted the Church’s recognition to the uniforms of the Knights, Ladies, Cadets, and Junior of the Order. In the same vein, the Pope granted an indulgence of 300 days to Knights who recited the approved prayers while wearing the specified uniforms of the Order.</p>
        <p style="text-align: justify;">And in 1925, Pope Pius XI gave his papal blessing and seal to the Order.</p>
        <p style="text-align: justify;">In describing the organization as an Order, ancient, noble, and international, the understanding is as follows:</p>
        <p style="text-align: justify;">It is ancient because it traced its originating roots over nine centuries ago back to the year 1048 AD; it is noble because it was founded for the noble cause of defending the interest of the Church; it is an Order because it has a disciplined code of conduct and operation as a paramilitary organization, going back to the context of its origin, and international because it operates in many countries of the world.</p>
        <p style="text-align: justify;">The Order continued to grow and expanded into Canada, Panama, Ghana, Nigeria, Togo, Liberia, Sierra Leone, Trinidad, and Tobago and recently into England and Germany.   In 1992, the name of the Order was officially changed to the Knights of St. John International to reflect the global structure of the Order.  The Order took for itself a model and patron, St. John the Baptist.  The fact that St. John was a testament and open witness of faith in an unbelieving world is appropriate for Knights in today’s selfish times.</p>
        <p style="text-align: justify;">The Knights of St. John International continue to witness their faith in God, through Jesus Christ, in their daily works of charity in the Church, their community, and their commandery.</p>
        <p style="text-align: justify;">The Order is Headquartered in the United States Of America and is known as the Supreme Commandery and Supreme Ladies Auxiliary</p>
        <p style="text-align: justify;">Though one fraternal organization, the Supreme Commandery which represents the Knights and the Supreme Ladies Auxiliary which represents the Ladies both have well defined and managed structures that enable the order to operate, work, and collaborate effectively from the Supreme [Headquarters] level, through to the Supreme Subordinates [Country Level], The Grand [Regional level Jurisdiction], Districts [Demarcated Levels within regional zones], through to the local parish/church-based levels referred to as the Local Commandery or Auxiliary levels.</p>
        <h2>KSJI IN AFRICA</h2>
        <p style="text-align: justify;">The Order of the Knights of St. John was introduced into Africa in the Gold Coast, now Ghana, in 1933, and this was by divine providence.</p>
        <p style="text-align: justify;">One Anthony Quansah of Saltpond, then a shipping clerk and a Catholic, was always observed to say the grace before and after meals whenever he and his co-workers had lunch in the ship that frequently docked at the Takoradi Port.</p>
        <p style="text-align: justify;">An expatriate officer on board one of these ships was impressed when he observed that Anthony made the sign of the Cross whenever he prayed.</p>
        <p style="text-align: justify;">He spoke to Anthony and as soon as he was convinced that the clerk was a Catholic and hailed from a Catholic family, he discussed several topics with him one of which was the Order of the Knights of St. John.</p>
        <p style="text-align: justify;">The officer gave Anthony some papers about the Order and young Anthony lost no time in getting those documents to his father, the late Bro. Emmanuel Raphael Quansah of Saltpond.</p>
        <p style="text-align: justify;">The late Bro. Quansah got a few zealous aspirants together and applied to the supreme Commandery in the United States Of America for permission to form a Commandery in Saltpond in the Central Region of Ghana.</p>
        <p style="text-align: justify;">He also approached the then Archbishop of Cape Coast, The Late Archbishop Thomas William Porter in 1933 for permission to introduce the Order into the country.</p>
        <p style="text-align: justify;">His Grace stipulated that they were to conduct meetings with prospective members for five years while the application was being considered.</p>
        <p style="text-align: justify;">At the end of the fifth year i.e. 1937, His Grace approved the establishment of the Order in Saltpond. During exchanging correspondence with the Supreme Secretary, Bro. Quansah was informed of the presence of one Bro. Bonito, an initiated member of the Order who was at that time the Manager of a merchant firm Messrs. G. B. Ollivant Ltd. in Cape Coast.</p>
        <p style="text-align: justify;">Consequently, the Supreme Board took advantage of this propitious opportunity to invest in Bro. Bonito with the executive authority to arrange the initiation of the aspirants and the eventual inauguration of the first Commandery of the Order at Saltpond.</p>
        <p style="text-align: justify;">By providential coincidence,  the parish at Saltpond was dedicated to St. John the Baptist and it was, therefore, most appropriate that the first Commandery in West Africa should be chartered as St. John the Baptist Commandery No. 346. The Commandery was duly inaugurated in 1937 with Bro. Quansah as its first President. </p>
        <p style="text-align: justify;">From there the order in Saltpond continued to in membership with Bro. Anthony Quansah playing very active and significant roles.</p>
        <p style="text-align: justify;">Accra, the capital of the British colony of the Gold Coast, was the next to be attracted by the Order.  With the growing Catholicism in Accra and the positivity of attitude in catholic gentlemen in the then Gold Coast, the news of the order soon caught up with Catholics in Accra, leading the establishment of the second commandery Sacred Heart Commandery No. 351, Derby Avenue, Accra in 1944.</p>
        <p style="text-align: justify;">The inauguration ceremonies of Sacred Heart Commandery No. 351, Accra was ably performed by The late Worthy President, E. R. Quansah of Commandery No. 346 on Pentecost Sunday, May 27, 1944, with the approval of Mgr. Adolph Alexander Noser, S.V.D., later Bishop of Accra.</p>
        <p style="text-align: justify;">This commandery, which was also founded in the first every Catholic Church Accra, became the mother of all commanderies in Accra, as it grew and initiated members who eventually spread out to form different commanderies in different parts of Accra and beyond.</p>
        <p style="text-align: justify;">The growth of the Order in Ghana continued steadily and fast as it moved rapidly across to other regions and territories, and even across borders to neighboring countries including Liberia in 1952, and Nigeria in 1976, then later to Togo and Sierra Leone
 
</p>
        <p style="text-align: justify;">The expansion and growth of the Knights of St. John in these four other West African countries was not without its snow-ball effect. Due to the rapid growth of the order now within the West African Sub Region, the number of commanderies then formed had met the requirement for establishing a Grand Commandery, hence the West Africa Grand commandery was formed and headquartered in Ghana. </p>
        <p style="text-align: justify;">The Charter granted to the West African Grand Commandery on August 15, 1949, enabled the new Grand Commandery to have complete and final authority in all matters,  questions, and legislation governing the West African Grand Commandery of the Knights of St. John.</p>
        <p style="text-align: justify;">As the Order grew in West Africa, many catholic women were also attracted to its ideals and gathered together to support the knights. In December 1954, the first auxiliary was established in Africa and named the St. Philomena Ladies Auxiliary #306 in Liberia. Subsequent The Ladies Auxiliaries started spreading fast, mostly in places that had existing commanderies. Ghana had the first Ladies Auxiliary in Takoradi also christened St. Philomena Auxiliary in 1957.</p>
        <p style="text-align: justify;">By the Early to Mid-Eighties, it was evident that the West Africa Grand Commandery and Ladies Auxiliary had overgrown its self with the establishment of many more commanderies in the different countries that constituted the Grand Commandery. It, therefore, became necessary that the West African Grand Commandery be split along national-territorial lines to enable the efficient management of the local commanderies and auxiliaries within the country territories. On December 15th, 1986, the Supreme Commandery per the constitution created and inaugurated the Ghana Grand Commandery, along with other grand commanderies including Liberia and Nigeria.</p>
        <p style="text-align: justify;">Ghana Grand Commandery now with responsibility for Ghana and Togo continued to grow in numbers until 1995, when the Ghana Grand Commandery was broken into 3 Grand Commanderies, i.e. Accra Grand Commandery, Cape Coast Grand Commandery, and the Tamale Grand Commandery, and the Togo Grand Commandery. Ghana Grand had then been dissolved and a Supreme Subordinate Commandery Ghana created, to oversee the management and administration of the KSJI in Ghana through the new Grand Commanderies created.</p>
        <p style="text-align: justify;">The new grand commanderies were formed according to the ecclesiastical provinces of the Catholic Church in Ghana, except for Togo Grand Commandery which was according to their national territory.</p>
        <p style="text-align: justify;">Accra Grand Commandery had responsibility for commanderies within the Accra ecclesiastical province which included Accra Archdiocese [Greater Accra Region], Ho Diocese [ Volta Region], Koforidua Diocese [ Eastern Region]
          Accra Grand Commandery had responsibility for commanderies within the Accra ecclesiastical province which included Accra Archdiocese [Greater Accra Region], Ho Diocese [ Volta Region], Koforidua Diocese [ Eastern Region]
        </p>
        <p style="text-align: justify;">Cape Coast Grand Commandery had responsibility for commanderies within the Cape Coast ecclesiastical Cape Coast Archdiocese [Central Region], Kumasi Diocese [Ashanti Region], Sekondi-Takoradi Diocese [Western Region]</p>
        <p style="text-align: justify;">Tamale Grand Commandery had responsibility for commanderies within the Tamale ecclesiastical province which included Tamale Archdiocese [Northern Region], Wa Diocese [Upper West Region], and Navrongo-Bolgatanga Diocese [Upper East Region].</p>
        <p style="text-align: justify;">The Order in Ghana kept growing along with the growth of the Catholic Church in Ghana as visibly enough KSJI had practically become a military escort detachment to the Bishops and or turned out in performance at other important and significant religious celebrations and events.</p>
        <p style="text-align: justify;">to the continuous growth of the Catholic Church in Ghana, which then saw more dioceses being eated, as well as the growth of the order along similar lines, there was an obvious need to relook the structure of the Order in Ghana again for effective and proper management. </p>
        <p style="text-align: justify;">In 2012, the Supreme Commandery during its 78th Biennial convention in the United States Of America, approved the restructuring of the Grand Commanderies in Ghana, splitting all three existing  Grand Commanderies to form new Grand commanderies. 5 new Grand Commanderies were added and Accra Grand Commandery dissolved.</p>
        <h1> Thus, the  Grand Commanderies in Ghana became seven (7) namely:</h1>
        <p style="text-align: justify;">1.  Tamale Grand Commandery – Responsible for Tamale Archdiocese, Yendi Diocese, Damango Diocese, Navrongo – Bolgatanga Diocese. [Northern, North East  and  Upper East Regions]

</p>
        <p style="text-align: justify;">2.   Wa Grand Commandery – Responsible for Wa Diocese [Upper West Region]

</p>
        <p style="text-align: justify;">3.  Kumasi Grand Commandery – Responsible for Kumasi Archdiocese, Obuasi Diocese, Konongo-Mampong Diocese, Sunyani Diocese, Techiman Diocese, and Goaso Diocese. [Ashanti, Bono, Bono East  and Ahafo Regions].

</p>
        <p style="text-align: justify;">4.  Koforidua-Ho Grand Commandery – Responsible for Koforidua Diocese, Ho Diocese, Keta - Akatsi Diocese, Jasikan Diocese, and the Donkokrom Vicariate. [Eastern, Volta and  Oti Regions]

</p>
        <p style="text-align: justify;">5.  Cape Coast Grand Commandery – Responsible for Cape Coast Archdiocese, Sekondi – Takoradi Diocese, Wiawso Diocese. [Central, Western and Western North Regions]</p>
        <p style="text-align: justify;">6.  Accra East Grand Commandery – Responsible for Eastern Part of the Archdiocese of Accra, starting from the borders of the Liberation Road, Legon Road as its west end border, and stretching through to the borders of the Greater Accra Region with The Volta Region to the east, and the Eastern Region to the North East and the southeast part of the Gulf of Guinea to the South. It contains 3 Deaneries namely the Osu Deanery, the Madina- Adenta Deneary, and the Tema-Bartor Deneary.</p>
        <p style="text-align: justify;">7.  Accra West Grand Commandery – Responsible for the Western Part of the Archdiocese of Accra, starting from the borders of the Liberation Road, Legon Road as its east end border, and stretching through to the borders of the Greater Accra Region with The Central Region to the West, and the Eastern Region to the North West, and the southwest part of the Gulf of Guinea to the South. It contains 3 Deaneries namely the Kaneshie Deanery, the Mamprobi Deneary, and the Kpehe Deneary</p>

        <h2>JUNIOR ORDER</h2>
        <p style="text-align: justify;">Running concurrently with the Knights and Ladies is the Cadets and Junior Auxiliaries.</p>
        <p style="text-align: justify;">These are the nursery stages of the Order where young boys and girls, as future leaders are groomed to take over from the older Knights and Ladies.</p>
          <p style="text-align: justify;"> 
The first Cadet Commandery was chartered and inaugurated in 1978 at Sacred Heart Commandery in Derby Avenue, Accra with the first Cadet President Andrew Anumu Quaye-Foli [now Very Rev. Fr. Andrew Anumu Quaye-Foli, SVD]
</p>
            
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>AWGKSJI</h3>
            <p>
              Connect with the Grand Secretariat<br><br>
              <strong>Phone:</strong> +233 (0) 244 355 436 | +233 (0) 208 148138<br>
              <strong>Email:</strong> KSJI_351@awgksji.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="https://web.facebook.com/KSJIGrandAW" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://web.twitter.com/KSJIGrandAW" class="facebook"><i class="bx bxl-facebook"></i></a>
              
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
             
              <li><i class="bx bx-chevron-right"></i> <a href="/history">History of knighthood</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4></h4>
            
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
           
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>AWGKSJI</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/ -->
        Designed by <a href="#">JIL GH</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>