<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>AWGKSJI</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet" />
    <link
      href="assets/vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-block">
      <div class="container clearfix">
        <!-- <div class="contact-info float-left">

        <i class="icofont-envelope"></i><a href="mailto:contact@example.com">contact@example.com</a>
        <i class="icofont-phone"></i> +1 5589 55488 55
      	<img src="assets/img/portfolio/KSJI LOGO.png"  alt="">
     
      </div> -->

        <div class="social-links float-right">
          <a
            href="https://web.twitter.com/KSJIGrandAW
"
            class="twitter"
            ><i class="icofont-twitter"></i
          ></a>
          <a href="https://web.facebook.com/KSJIGrandAW" class="facebook"
            ><i class="icofont-facebook"></i
          ></a>
          <!-- <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a> -->
        </div>
      </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header">
      <div class="container">
        <div class="logo float-left">
          <h1 class="text-light">
            <a href="/"
              ><span
                >AWGKSJI
                <img src="assets/img/portfolio/KSJI LOGO.png" alt="" /><img
                  src="assets/img/portfolio/LADIES LOGO UPDATE 2.jpg"
                  alt="" /></span
            ></a>
          </h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu float-right d-none d-lg-block">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#services">Programs</a></li>
            <li><a href="#portfolio">SHOP</a></li>
            <li><a href="#team">Officers</a></li>
            <li><a href="/history">History</a></li>
            <li class="drop-down">
              <a href="">Media and Resources</a>
              <ul>
                <li class="drop-down"><a href="#">Gallery</a></li>
                <!-- <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul> -->

                <li><a href="#">Report</a></li>
                <li><a href="#">Publication</a></li>
              </ul>
            </li>
            <li><a href="#contact">Contact Us</a></li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container">
        <div
          id="heroCarousel"
          class="carousel slide carousel-fade"
          data-ride="carousel"
        >
          <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

          <div class="carousel-inner" role="listbox">
            <!-- Slide 1 -->
            <div
              class="carousel-item active"
              style="background-image: url('assets/img/slide/slide-1.jpg')"
            >
              <div class="carousel-container">
                <div class="carousel-content container">
                  <h2 class="animate__animated animate__fadeInDown">
                    Welcome <span> </span>
                  </h2>
                  <p class="animate__animated animate__fadeInUp">
                    Welcome to the official Website of The Accra West Grand
                    Commandery and Ladies Auxiliary of The Knights Of St. John
                    International.
                  </p>
                  <p class="animate__animated animate__fadeInUp">
                    Our website pages seek to inform, educate and provide you
                    with briefs of our history, aims and purposes, and
                    information of the Accra West Grand Commandery and Ladies
                    Auxiliary, and generally The Knights Of St. John
                    International as a whole.
                  </p>
                  <p class="animate__animated animate__fadeInUp">
                    We hope you find the information about the Knights Of St.
                    John International and the Accra West Grand, informative,
                    and worthy of your visit.
                  </p>
                  <p class="animate__animated animate__fadeInUp">
                    We hope that the content herein intrigues you as a catholic
                    gentleman, lady, or youth to want to join our journey of the
                    new evangelization mission, in which case you may click
                    Register to commence a process of membership.
                  </p>

                  <a
                    href="#about"
                    class="btn-get-started animate__animated animate__fadeInUp scrollto"
                    >Read More</a
                  >
                </div>
              </div>
            </div>

            <!-- Slide 2 -->
            <div
              class="carousel-item"
              style="background-image: url('assets/img/slide/slide-2.jpg')"
            >
              <div class="carousel-container">
                <div class="carousel-content container">
                  <h2 class="animate__animated animate__fadeInDown">
                    Welcome to <span> AWGKSJI </span>
                  </h2>
                  <p class="animate__animated animate__fadeInUp">
                    Welcome to the official Website of The Accra West Grand
                    Commandery and Ladies Auxiliary of The Knights Of St. John
                    International.
                  </p>
                  <p class="animate__animated animate__fadeInUp">
                    Our website pages seek to inform, educate and provide you
                    with briefs of our history, aims and purposes, and
                    information of the Accra West Grand Commandery and Ladies
                    Auxiliary, and generally The Knights Of St. John
                    International as a whole.
                  </p>
                  <p class="animate__animated animate__fadeInUp">
                    We hope you find the information about the Knights Of St.
                    John International and the Accra West Grand, informative,
                    and worthy of your visit.
                  </p>
                  <p class="animate__animated animate__fadeInUp">
                    We hope that the content herein intrigues you as a catholic
                    gentleman, lady, or youth to want to join our journey of the
                    new evangelization mission, in which case you may click
                    Register to commence a process of membership.
                  </p>

                  <a
                    href="#about"
                    class="btn-get-started animate__animated animate__fadeInUp scrollto"
                    >Read More</a
                  >
                </div>
              </div>
            </div>

            <!-- Slide 3 -->
            <div
              class="carousel-item"
              style="background-image: url('assets/img/slide/slide-3.jpg')"
            >
              <div class="carousel-container">
                <div class="carousel-content container">
                  <h2 class="animate__animated animate__fadeInDown">
                    Welcome to <span> AWGKSJI </span>
                  </h2>
                  <p class="animate__animated animate__fadeInUp">
                    Welcome to the official Website of The Accra West Grand
                    Commandery and Ladies Auxiliary of The Knights Of St. John
                    International.
                  </p>
                  <p class="animate__animated animate__fadeInUp">
                    Our website pages seek to inform, educate and provide you
                    with briefs of our history, aims and purposes, and
                    information of the Accra West Grand Commandery and Ladies
                    Auxiliary, and generally The Knights Of St. John
                    International as a whole.
                  </p>
                  <p class="animate__animated animate__fadeInUp">
                    We hope you find the information about the Knights Of St.
                    John International and the Accra West Grand, informative,
                    and worthy of your visit.
                  </p>
                  <p class="animate__animated animate__fadeInUp">
                    We hope that the content herein intrigues you as a catholic
                    gentleman, lady, or youth to want to join our journey of the
                    new evangelization mission, in which case you may click
                    Register to commence a process of membership.
                  </p>

                  <a
                    href="#about"
                    class="btn-get-started animate__animated animate__fadeInUp scrollto"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>

          <a
            class="carousel-control-prev"
            href="#heroCarousel"
            role="button"
            data-slide="prev"
          >
            <span
              class="carousel-control-prev-icon icofont-rounded-left"
              aria-hidden="true"
            ></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#heroCarousel"
            role="button"
            data-slide="next"
          >
            <span
              class="carousel-control-next-icon icofont-rounded-right"
              aria-hidden="true"
            ></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-lg-6 video-box">
              <img src="assets/img/about.jpg" class="img-fluid" alt="" />
              <a
                href="https://www.youtube.com/watch?v=jDDaplaOz7Q"
                class="venobox play-btn mb-4"
                data-vbtype="video"
                data-autoplay="true"
              ></a>
            </div>

            <div
              class="col-lg-6 d-flex flex-column justify-content-center about-content"
            >
              <div class="section-title">
                <h2>About Us</h2>
                <p>
                  The Knights of St. John International is a Roman Catholic
                  fraternal organization that stands for Roman Catholic Virtues
                  of Faith, Hope, and Charity under a banner of Fraternity.
                </p>
              </div>

              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bx-fingerprint"></i></div>
                <h4 class="title">
                  <a href=""
                    >History of the Knights Of St. John International</a
                  >
                </h4>
                <p class="description">
                  The Knights of St John were incorporated in New York State in
                  1886 under patron Saint John The Baptist. The organization
                  continued to grow inside the United States for many years and
                  in 1992 with the addition of Commanderies outside of the
                  United States, The Knights of St John added International to
                  its name and continues to grow.
                </p>
              </div>

              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bx-gift"></i></div>
                <h4 class="title">
                  <a href=""
                    >History of the Knights Of St. John International</a
                  >
                </h4>
                <p class="description">
                  Today, the Knights of St John International are represented in
                  the United States, Canada, Ghana, Liberia, Nigeria, Sierra
                  Leone, Togo, Germany, and England.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->

      <!-- ======= About Lists Section ======= -->
      <section class="about-lists">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
              <span>01</span>
              <a href="/regiment"><h4>SECOND REGIMENT OF ACCRA WEST GRAND COMMANDERY</h4></a>

              <!-- <p>The Grand organizes conventions every 2 years. The conventions offer the opportunity for all Commanderies and Ladies Auxiliaries under the Grand for the good of the Order and elect new officers for the next tenure. The 2018 Grand Convention was held at the University of Ghana, Legon. </p> -->
            </div>

            <div
              class="col-lg-4 col-md-6 content-item"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <span>02</span>
              <h4>ADVERTISEMENT</h4>
              <!-- <p>St. John the Baptist is the Patron Saint of KSJI. The Order celebrates the birth and passion of St. John the Baptist in Holy Mass. </p> -->
            </div>

            <div
              class="col-lg-4 col-md-6 content-item"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <span>03</span>
              <h4>ADVERTISEMENT</h4>
              <!-- <p>The Grand holds various degree exemplifications under the authority of the Supreme Subordinate Commandery. The degrees include the 2nd and 3rd degree, Order of the Chevalier,, and Noble degrees. </p> -->
            </div>

            <div
              class="col-lg-4 col-md-6 content-item"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <span>04</span>
              <h4>NEWS</h4>
              <!-- p>Charity constitutes a major deed of Knights and Ladies. Charities undertaken at the Commandery levels, Grand levels, and the Supreme Subordinate levels. The Grand is currently undertaking the Formators Housing Project for priests at the St. Paul Catholic Seminary, Sowutuom. </p> -->
            </div>

            <div
              class="col-lg-4 col-md-6 content-item"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <span>05</span>
              <h4>UPDATES</h4>
              <!--  <p>The KSJI is a paramilitary organization within the Catholic Church. Members adorn themselves in their uniforms and regalia, upon when required, and participate in Diocesans, Civic, and Parish events, such as First Communion, Confirmation, Ordination, </p> -->
            </div>

            <div
              class="col-lg-4 col-md-6 content-item"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <span>06</span>
              <h4>| UPCOMING</h4>
              <!-- <p>The Grand organizes conventions every 2 years. The conventions offer the opportunity for all Commanderies and Ladies Auxiliaries under the Grand for the good of the Order and elect new officers for the next tenure. The 2018 Grand Convention was held at the University of Ghana, Legon.</p> -->
            </div>
          </div>
        </div>
      </section>
      <!-- End About Lists Section -->

      <!-- ======= Counts Section ======= -->
      <section class="counts section-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
              <div class="count-box">
                <i class="icofont-simple-smile" style="color: #20b38e"></i>
                <span data-toggle="counter-up">0</span>
                <p>LIVE CHAT</p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 text-center"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="count-box">
                <i class="icofont-document-folder" style="color: #c042ff"></i>
                <span data-toggle="counter-up">0</span>
                <p>Projects</p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 text-center"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="count-box">
                <i class="icofont-live-support" style="color: #46d1ff"></i>
                <span data-toggle="counter-up">0</span>
                <p>Support</p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 text-center"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <div class="count-box">
                <i class="icofont-users-alt-5" style="color: #ffb459"></i>
                <span data-toggle="counter-up">0</span>
                <p>Social Media Blogging</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Counts Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
          <div class="section-title">
            <h2>Programs</h2>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
              <div class="icon"><i class="icofont-tasks-alt"></i></div>
              <h4 class="title"><a href="">Grand Conventions</a></h4>
              <p class="description" style="text-align: justify">
                The Grand organizes conventions every 2 years. The conventions
                offer the opportunity for all Commanderies and Ladies
                Auxiliaries under the Grand for the good of the Order and elect
                new officers for the next tenure. The 2018 Grand Convention was
                held at the University of Ghana, Legon.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="icon"><i class="icofont-tasks-alt"></i></div>
              <h4 class="title"><a href="">Feast Days</a></h4>
              <p class="description" style="text-align: justify">
                St. John the Baptist is the Patron Saint of KSJI. The Order
                celebrates the birth and passion of St. John the Baptist in Holy
                Mass.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="icon"><i class="icofont-tasks-alt"></i></div>
              <h4 class="title"><a href="">Degree Exemplifications</a></h4>
              <p class="description" style="text-align: justify">
                The Grand holds various degree exemplifications under the
                authority of the Supreme Subordinate Commandery. The degrees
                include the 2nd and 3rd degree, Order of the Chevalier,, and
                Noble degrees
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="icon"><i class="icofont-tasks-alt"></i></div>
              <h4 class="title"><a href="">Charity</a></h4>
              <p class="description" style="text-align: justify">
                Charity constitutes a major deed of Knights and Ladies.
                Charities undertaken at the Commandery levels, Grand levels, and
                the Supreme Subordinate levels. The Grand is currently
                undertaking the Formators Housing Project for priests at the St.
                Paul Catholic Seminary, Sowutuom.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="icon"><i class="icofont-tasks-alt"></i></div>
              <h4 class="title"><a href="">Military</a></h4>
              <p class="description" style="text-align: justify">
                The KSJI is a paramilitary organization within the Catholic
                Church. Members adorn themselves in their uniforms and regalia,
                upon when required, and participate in Diocesans, Civic, and
                Parish events, such as First Communion, Confirmation,
                Ordination,
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <div class="icon"><i class="icofont-tasks-alt"></i></div>
              <h4 class="title"><a href="">Grand Conventions</a></h4>
              <p class="description" style="text-align: justify">
                The Grand organizes conventions every 2 years. The conventions
                offer the opportunity for all Commanderies and Ladies
                Auxiliaries under the Grand for the good of the Order and elect
                new officers for the next tenure. The 2018 Grand Convention was
                held at the University of Ghana, Legon.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= Our Portfolio Section ======= -->
      <section id="portfolio" class="portfolio section-bg">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="section-title">
            <h2>SHOP</h2>
            <p>
              Place your orders for all KSJI and LAUX uniforms and accessories.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">1</li>
                <li data-filter=".filter-card">2</li>
                <li data-filter=".filter-web">3</li>
              </ul>
            </div>
          </div>

          <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-1.jpg"
                      data-gall="portfolioGallery"
                      class="venobox"
                      title="App 1"
                      ><i class="icofont-eye"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-2.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-2.jpg"
                      data-gall="portfolioGallery"
                      class="venobox"
                      title="Web 3"
                      ><i class="icofont-eye"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-3.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-3.jpg"
                      data-gall="portfolioGallery"
                      class="venobox"
                      title="App 2"
                      ><i class="icofont-eye"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-4.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-4.jpg"
                      data-gall="portfolioGallery"
                      class="venobox"
                      title="Card 2"
                      ><i class="icofont-eye"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-5.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-5.jpg"
                      data-gall="portfolioGallery"
                      class="venobox"
                      title="Web 2"
                      ><i class="icofont-eye"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-6.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-6.jpg"
                      data-gall="portfolioGallery"
                      class="venobox"
                      title="App 3"
                      ><i class="icofont-eye"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-7.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-7.jpg"
                      data-gall="portfolioGallery"
                      class="venobox"
                      title="Card 1"
                      ><i class="icofont-eye"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-8.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-8.jpg"
                      data-gall="portfolioGallery"
                      class="venobox"
                      title="Card 3"
                      ><i class="icofont-eye"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-9.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <div class="portfolio-links">
                    <a
                      href="assets/img/portfolio/portfolio-9.jpg"
                      data-gall="portfolioGallery"
                      class="venobox"
                      title="Web 3"
                      ><i class="icofont-eye"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Our Portfolio Section -->

      <!-- ======= Our Team Section ======= -->
      <section id="team" class="team">
        <div class="container">
          <div class="section-title">
            <h2>Grand Board Officers</h2>
            <p>
              The Grand is currently under the leadership of Brig. Gen. Prof.
              Peter Tuffuo Asubonteng (Grand President) and Noble Sister Petrina
              Coker (Grand Auxiliary President). The leadership is ably assisted
              by the Grand Board Members.
            </p>
          </div>

          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
              <div class="member">
                <div class="pic">
                  <img
                    src="assets/img/team/Prof Asubonteng.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Brig. Gen. Peter Tuffuo Asubonteng (PhD.)</h4>
                  <span> Grand President </span>
                  <span> Prince of Peace Commandery 832, Kwashieman </span>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="member">
                <div class="pic">
                  <img
                    src="assets/img/team/Vincent Joseph Dela Selormey.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Brig. Gen. Vincent Joseph Dela Selormey</h4>
                  <span> Past Grand President</span>
                  <span> Sacred Heart Commandery 351 </span>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="member">
                <div class="pic">
                  <img
                    src="assets/img/team/Robert Kwabenah Foli.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Brig. Gen. Robert Kwabenah Foli</h4>
                  <span> Past Accra Grand President </span>
                  <span> St.Charles Lwanga Commandery 482 </span>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="member">
                <div class="pic">
                  <img
                    src="assets/img/team/Robert Kingsley-Arthur.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Colonel Robert Kingsley-Arthur</h4>
                  <span> 1st Vice-President </span>
                  <span> St. Charles Lwanga Commandery 482, Abeka </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
              <div class="member">
                <div class="pic">
                  <img
                    src="assets/img/team/James Amissah.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Colonel James Amissah</h4>
                  <span> 2nd Vice President </span>
                  <span> Matyrs of Uganda Commandery 797 </span>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="member">
                <div class="pic">
                  <img
                    src="assets/img/team/Maj Anthony Akrasi Asubonteng.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Major Anthony Akrasi Asubonteng</h4>
                  <span> Assistant Secretary </span>
                  <span> Prince of Peace Commandery 832, Kwashieman </span>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="member">
                <div class="pic">
                  <img
                    src="assets/img/team/Sylvester Kwame Osei.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <
                  <h4>2nd Lieutenant Sylvester Kwame Osei</h4>
                  <span> Assistant Secretary </span>
                  <span> St. Thomas Aquinas Commandery 911, Legon </span>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="member">
                <div class="pic">
                  <img
                    src="assets/img/team/Thomas Mensah Abobi.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <
                  <h4>Lieutenant Thomas Mensah Abobi</h4>
                  <span> Financial Secretary </span>
                  <span> St. Paul Commandery 618, Kpehe </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
              <div class="member">
                <div class="pic">
                  <img
                    src="assets/img/team/George Tano Crankson.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Captain George Tano Crankson</h4>
                  <span> Treasurer </span>
                  <span> Commandery 495 </span>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="member">
                <div class="pic">
                  <img
                    src="assets/img/team/Ernest Gyapong.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Captain Ernest Gyapong</h4>
                  <span> Sargent At Arms </span>
                  <span> Commandery 495 </span>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="member">
                <div class="pic">
                  <img
                    src="assets/img/team/Julius S.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Captain Julius S. K Mensah</h4>
                  <span> Messenger </span>
                  <span> St. Margaret Mary </span>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="member">
                <div class="pic">
                  <img
                    src="assets/img/team/John Mawuena Kossi Aniglo.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Major John Mawuena Kossi Aniglo</h4>
                  <span> 1st Trustee </span>
                  <span> St. Charles Lwanga Commandery 482, Abeka </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
              <div class="member">
                <div class="pic">
                  <img
                    src="assets/img/team/Albert Kweku Antwi Amoah.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Captain Albert Kweku Antwi Amoah</h4>
                  <span> Guard </span>
                  <span> t. Margaret Mary Commandery 500 Dansoman </span>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="member">
                <div class="pic">
                  <img
                    src="assets/img/team/Edward.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>1st Lieutenant Edward B. T. Kofi Dabi</h4>
                  <span> 2nd Trustee </span>
                  <span> Blessed Sacrament Commandery 848, Abelenkpe </span>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="member">
                <div class="pic">
                  <img
                    src="assets/img/team/Emmanuel DZREGAH.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Lieutenant Emmanuel Dzregah</h4>
                  <span> Cadet Organizer </span>
                  <span> St. Paul Commandery, Kpehe </span>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="member">
                <div class="pic">
                  <img
                    src="assets/img/team/William John Quashie.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Colonel William John Quashie</h4>
                  <span> 2nd Regiment Commander </span>
                  <span> St Thomas Moore Commandery, Achimota</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
              <div class="member">
                <div class="pic">
                  <img
                    src="assets/img/team/Emmanuel Hottor.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Colonel Emmanuel Hottor</h4>
                  <span> 3rd Regiment Commander </span>
                  <span> Sacred Heart Commandery 35, Derby Avenue </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Our Team Section -->

      <!-- ======= Frequently Asked Questions Section ======= -->
      <section id="faq" class="faq section-bg">
        <div class="container">
          <div class="section-title">
            <h2>MEMBERSHIP</h2>
          </div>

          <div class="row d-flex align-items-stretch">
            <div class="col-lg-6 faq-item" data-aos="fade-up">
              <p style="text-align: justify">
                Any practicing Catholic Gentleman or Lady, between the ages of
                18 and 60 may become a member with benefits. Share your details
                with us and a representative will connect with you.
              </p>
            </div>

            <div
              class="col-lg-6 faq-item"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <p>
                Already a brother or a sister?
                <a href="/register">Click here</a> to access your profile.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Frequently Asked Questions Section -->

      <!-- ======= Contact Us Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title">
            <h2>Contact Us</h2>
          </div>

          <div class="row">
            <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>
                  At Accra West Grand Commandery and Ladies Auxiliary, our doors
                  are open to individuals and organizations who wish to know
                  more about us or join us. Connect with the Grand Secretariat
                </p>
              </div>
            </div>

            <div
              class="col-lg-3 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="info-box">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>https://webmail.awgksji.com/ <br />KSJI_351@awgksji.com</p>
                <h3>Social Media</h3>
                <p>
                  https://web.facebook.com/KSJIGrandAW
                  <br />https://web.twitter.com/KSJIGrandAW
                </p>
              </div>
            </div>

            <div
              class="col-lg-3 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="info-box">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p><br />+233 (0) 244 355 436</p>
                <p><br />+233 (0) 208 148138</p>
              </div>
            </div>

            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
              <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="row">
                  <div class="col-lg-6 form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 4 chars"
                    />
                    <div class="validate"></div>
                  </div>
                  <div class="col-lg-6 form-group">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      data-rule="email"
                      data-msg="Please enter a valid email"
                    />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 8 chars of subject"
                  />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    data-rule="required"
                    data-msg="Please write something for us"
                    placeholder="Message"
                  ></textarea>
                  <div class="validate"></div>
                </div>
                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Us Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-info">
              <h3>AWGKSJI</h3>
              <p>
                Connect with the Grand Secretariat<br /><br />
                <strong>Phone:</strong> +233 (0) 244 355 436 | +233 (0) 208
                148138<br />
                <strong>Email:</strong> KSJI_351@awgksji.com<br />
              </p>
              <div class="social-links mt-3">
                <a href="https://web.facebook.com/KSJIGrandAW" class="twitter"
                  ><i class="bx bxl-twitter"></i
                ></a>
                <a href="https://web.twitter.com/KSJIGrandAW" class="facebook"
                  ><i class="bx bxl-facebook"></i
                ></a>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#about">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#services">Programs</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#team">Officers</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/history">History of knighthood</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#portfolio">SHOP</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Report</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Publication</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#contact">Contact</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>

              <form action="" method="post">
                <input type="email" name="email" /><input
                  type="submit"
                  value="Subscribe"
                />
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>AWGKSJI</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/ -->
          Designed by <a href="#">JIL GH</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/counterup/counterup.min.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
