<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>Awgksji</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://bootstraptaste.com" />
<!-- css -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="css/jcarousel.css" rel="stylesheet" />
<link href="css/flexslider.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

<!-- Theme skin -->
<link href="skins/default.css" rel="stylesheet" />
<!--script-->
<script src="js/design"></script>


<!-- =======================================================
    Theme Name: Moderna
    Theme URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
======================================================= -->

<style type="">

.navbar-inverse {
    background-color: #1E419B;
    text-shadow: none;
    margin-bottom: 0px;
}

.navbar-static-top{
padding-bottom: 0px;
padding-top: 0px;








}
.img-responsive, .thumbnail a>img, .thumbnail>img {
display: block;
max-width: 100%;
height: auto;
margin-right: auto;
margin-left: auto;

}

img{
	max-width: 100%;
	vertical-align: middle;
	border: 0;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}


</style>



</head>
<body>

	
<nav class="navbar navbar-inverse">
  <CENTER><h1 style="color:#fff">KNIGHTS OF ST.JOHN'S INTERNATIONAL</h1>
</nav></CENTER>

 

  

	<!-- start header -->
	<div id="header-1">
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
            	
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="index.html"><span>F</span>IRESTONE WORSHIP CENTRE-MADINA</a>-->
                </div>


                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">HOME</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Unavailable <b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="ministries/children.html">Unavailable</a></li>
                                <li><a href="ministries/youth.html">Unavailable</a></li>
								<li><a href="ministries/women.html">Unavailable</a></li>
								<li><a href="ministries/men.html">Unavailable</a></li>
								<li><a href="ministries/evangelism.html">Unavailable</a></li>
								
                            </ul>
                        </li>
                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Unavailable <b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                            	
                                <li><a href="ministries/departments/media.html">Unavailable</a></li>
                                <li><a href="ministries/departments/praise.html">Unavailable</a></li>
								<li><a href="ministries/departments/technical.html">Unavailable</a></li>
								<li><a href="ministries/departments/prayer.html">Unavailable</a></li>
								<li><a href="ministries/departments/bible.html">Unavailable</a></li>
								<li><a href="departments/departments/library.html">Unavailable</a></li>
								<li><a href="ministries/departments/departments/records.html">Unavailable</a></li>
								<li><a href="ministries/departments/drama.html">Unavailable</a></li>
								<li><a href="ministries/departments/meeters.html">Unavailable</a></li>
								<li><a href="ministries/departments/outreach.html">Unavailable</a></li>

                            </ul>
                        </li>
                        <li><a href="about.html">Unavailable</a></li>
                        <li><a href="officers.html">Unavailable</a></li>
                        <li><a href="photos.html">Unavailable</a></li>
                        <li><a href="firemedia.html">Unavailable</a></li>
                        <li><a href="program.html">Unavailable</a></li>
                        <li><a href="contact.html">Unavailable</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</div>
	<!-- end header -->
	<section id="featured">
	<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        <div id="main-slider" class="flexslider" style="height: 400px;" >
            <ul class="slides">
              <li>
                <img src="assets/img/church pics/10.jpg" alt="" style="height: 400px;"/>
                <!--
                <div class="flex-caption">
                    <h3>Modern Design</h3> 
					<p>Duis fermentum auctor ligula ac malesuada. Mauris et metus odio, in pulvinar urna</p> 
					<a href="#" class="btn btn-theme">Learn More</a>
                </div>
            -->
              </li>
              <li>
                <img src="assets/img/slides/try2.jpg" alt="" style="height: 400px;"/>
                 <!--
                <div class="flex-caption">
                    <h3>Modern Design</h3> 
					<p>Duis fermentum auctor ligula ac malesuada. Mauris et metus odio, in pulvinar urna</p> 
					<a href="#" class="btn btn-theme">Learn More</a>
                </div>
            -->
              </li>
              <li>
                <img src="assets/img/slides/try3.jpg" alt="" style="height: 400px;"/>
                 <!--
                <div class="flex-caption">
                    <h3>Modern Design</h3> 
					<p>Duis fermentum auctor ligula ac malesuada. Mauris et metus odio, in pulvinar urna</p> 
					<a href="#" class="btn btn-theme">Learn More</a>
                </div>
            -->
              </li>





<li>
                <img src="assets/img/slides/try4.jpg" alt=""  style="height: 400px;"/>
                 <!--
                <div class="flex-caption">
                    <h3>Modern Design</h3> 
					<p>Duis fermentum auctor ligula ac malesuada. Mauris et metus odio, in pulvinar urna</p> 
					<a href="#" class="btn btn-theme">Learn More</a>
                </div>
            -->
              </li>


              <li>
                <img src="assets/img/slides/5.jpg" alt=""  style="height: 400px;"/>
                <!--
                <div class="flex-caption">
                    <h3>Modern Design</h3> 
					<p>Duis fermentum auctor ligula ac malesuada. Mauris et metus odio, in pulvinar urna</p> 
					<a href="#" class="btn btn-theme">Learn More</a>
                </div>
            -->
              </li>



<li>
                <img src="assets/img/slides/6.jpg" alt="" style="height: 400px;"/>
                  <!--
                <div class="flex-caption">
                    <h3>Modern Design</h3> 
					<p>Duis fermentum auctor ligula ac malesuada. Mauris et metus odio, in pulvinar urna</p> 
					<a href="#" class="btn btn-theme">Learn More</a>
                </div>
            -->
              </li>


            </ul>
        </div>
	<!-- end slider -->

	
			</div>
		</div>
	</div>	
	


	</section>


<h2 class="text-center"><a href="/login">Click here to register</a></h2>

<section>
<div class="about">
		<div class="container">
			<div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
				<h2>Message</h2>
				<img src="assets/img/works/3.jpg" class="img-responsive"/>
                <h4> Message From</h4>
                <br>
                <P>Under construction</P>
			</div>
			
			<div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
				<h2>Under construction</h2>
            <p> Under construction
                
                </p>

                <img src="assets/img/works/na.jpg" class="img-responsive"/>
                <p> </p>
			</div>
		</div>
	</div>
 
</section>

	<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text">
						<h2><span>Under construction</span></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>

	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">


<div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Under construction</h4>
                                <a href="#">
                                <i class="fa fa-bullhorn fa-3x" aria-hidden="true" ></i>
                                </a>
                                <p>
                                 Under construction
                                </p>
                                    
                            </div>
                            <div class="box-bottom">
                                <a href="#" data-toggle="modal" data-target="#primary">Under construction</a>
                            </div>

                            <!-- Modal -->
    <div class="modal fade" id="primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                    <h4><i class="fa fa-bullhorn"></i>Under Construction</h4>
                </div>
                <div class="modal-body">
                Under construction
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal -->
                        </div>
                    </div>


	
<div class="col-lg-3">
<div class="box">
<div class="box-gray aligncenter">
								<h4>Under Construction</h4>
								<a href="#">
								<i class="fa fa-home fa-3x"  aria-hidden="true" ></i>
								</a>
				Under construction
								</p>
									
							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>


                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Under construction</h4>
                                <a href="#">
                                <i class="fa fa-home fa-3x" aria-hidden="true" ></i>
                                </a>
                                <p> 
                                 Under construction
                                </p>
                                    
                            </div> 
                            <div class="box-bottom">
                                <a href="#" data-toggle="modal" data-target="#MyModal">Learn more</a>
                            </div>  
                                  <!--MODAL CONTENT GOES IN HERE-->
            <div class="modal fade product_view" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                <h3 class="modal-title">Under construction</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img src="" class="img-responsive"><br>
                        <img src="" class="img-responsive"><br>
                        <img src="">
                    </div>
                    <div class="col-md-6 product_content">
                        
                        <div class="rating">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                           
                        </div>
                        <p>Under construction

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


                                  <!--END OF MODAL-->
                            </div>
                        </div>          
                        
   

                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Under construction</h4>
                                <a href="#">
                                <i class="fa fa-book fa-3x" aria-hidden="true" ></i>
                                </a>
                                <p>
                                 Under construction
                                </p>
                                    
                            </div>
                            <div class="box-bottom">
                                <a href="#" data-toggle="modal" data-target="#squarespaceModal">Learn more</a>
                            </div>

                                <!-- line modal -->
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>      
                <h3 class="modal-title" id="lineModalLabel">Under construction</h3>
            <img src="img/hands.jpg" width="65" height="45">
        </div>
        <div class="modal-body">
            
            <!-- content goes here -->
            <form action="register.php" method="post">
              <div class="form-group">
                <label for="exampleInputEmail1">Under construction</label>
                <input type="email" class="form-control" name="email" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Select by uploading prayer requests.</p>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Check me out
                </label>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div>
        <div class="modal-footer">
            <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                </div>
                <div class="btn-group btn-delete hidden" role="group">
                    <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Delete</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="saveImage" class="btn btn-default btn-hover-green" data-action="save" role="button">Save</button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>



        <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Under construction</h4>
                                <a href="#">
                                <i class="fa fa-heart fa-3x" aria-hidden="true" ></i>
                                </a
                                </div>
                                <p>
                                 Under construction
                                </p>
                                    
                            </div>
                            <div class="box-bottom">
                                <a href="#">Learn more</a>
                            </div>
                        </div>
                    </div>

<div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Under construction</h4>
                                <a href="#">
                                <i class="fa fa-anchor fa-3x" aria-hidden="true" ></i>
                                </a>
                                <p>
                                 Under construction</b>.
                                </p>
                                    
                            </div>
                            <div class="box-bottom">
                                <a href="#" data-toggle="modal" data-target="#success">Learn more</a>
                            </div>


<!-- Modal -->
    <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                    <h4><i class="fa fa-bar-chart-o"></i>Under construction</h4>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="span10 offset1">
                            <div id="modalTab">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="about">
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
      <h3 class="media-heading text-center">Joe Sixpack <small> USA</small></h3>
                <span><strong>Skills: </strong></span>
                <span class="label label-warning">HTML5/CSS</span>
                <span class="label label-info">Adobe CS 5.5</span>
                <span class="label label-info">Microsoft Office</span>
                <span class="label label-success">Windows XP, Vista, 7</span>
    </center>
    <hr>
    <center>
    <p class="text-left"><strong>Bio: </strong><br>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
      <br>
      </center>
      </div>
    </div>
</div>
</div>
</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal -->
                        </div>
                    </div>




                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Under construction</h4>
                                <a href="#">
                                <i class="fa fa-hand-paper-o fa-3x" aria-hidden="true" ></i>
                                </a>
                                <p>
                                 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                </p>
                                    
                            </div>
                            <div class="box-bottom">
                                <a href="#">Learn more</a>
                            </div>
                        </div>
                    </div>




<div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Under construction</h4>
                                <a href="#">
                                <i class="fa fa-birthday-cake fa-3x" aria-hidden="true" ></i>
                                </a>
                                <p>
                                 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                </p>
                                    
                            </div>
                            <div class="box-bottom">
                                <a href="#">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</div>
    </section>








					
		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
	</section>
		<!-- end divider -->
		<!-- Portfolio Projects -->
		<div class="row">
			<div class="col-lg-12">
				<h4 class="heading">KNIGHTS OF ST.JOHN'S INTERNATIONAL</h4>
				<div class="row">
					<section id="projects">
					<ul id="thumbs" class="portfolio">
						<!-- Item Project and Filter Name -->
						<li class="col-lg-3 design" data-id="id-0" data-type="web">
						<div class="item-thumbs">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 1" href="assets/img/works/1.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="img/works/1.jpg" 
						</div>
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 2" href="assets/img/works/2.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="img/works/2.jpg" 
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 3" href="assets/img/works/8.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="assets/img/works/8.jpg"
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 4" href="assets/img/works/4.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="assets/img/works/4.jpg" 
						</li>
						<!-- End Item Project -->
					</ul>
					</section>
				</div>
			</div>
		</div>

		<!--Item project 2-->

				<div class="row">
					<section id="projects">
					<ul id="thumbs" class="portfolio">
						<!-- Item Project and Filter Name -->
						<li class="col-lg-3 design" data-id="id-0" data-type="web">
						<div class="item-thumbs">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery"  href="img/works/12.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="img/works/12.jpg" 
						</div>
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery"  href="assets/img/works/15.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="assets/img/works/15.jpg"
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery"  href="assets/img/works/16.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="assets/img/works/16.jpg" 
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery"  href="assets/img/works/19.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="assets/img/works/19.jpg" 
						</li>
						<!-- End Item Project -->
					</ul>
					</section>
				</div>
			</div>
		</div>

	</div>
	</section>


	
	 <!--BEGIN FOOTER SECTION-->
        <!--  -->
</body>
</html> 
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/google-code-prettify/prettify.js"></script>
<script src="js/portfolio/jquery.quicksand.js"></script>
<script src="js/portfolio/setting.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
<script type="text/javascript">
	$("#slideshow > div:gt(0)").hide();

setInterval(function() { 
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
},  3000);
</script>

