<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <div class="homepage mt-5">
      <div class="shadow-sm p-3 bg-secondary">
        <h5 class="text-center">
          Welcome to the ACCRA WEST GRAND KNIGHTS AND LADIES AUXILARY
        </h5>
        <h4 class="text-center mb-5">Register here</h4>
        <div class="row mt-5">
          <div class="col-md-6">
            <a href="/commandery"
              ><button class="btn btn-block bg-white mt-2">
                Commandery
              </button></a
            >
          </div>
          <div class="col-md-6">
            <a href="/auxiliary"
              ><button class="btn btn-block bg-white mt-2">Auxiliary</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
  <%-include('includes/end.ejs')%>
</html>
