<%- include('includes/head') %>
<body>
  <div class="homepage container">
    <div class="welcome-note">
      <h4 class="animated fadeInUp text-center">Welcome to the</h4>
      <h2 class="animated fadeInUp text-center">
        ACCRA WEST GRAND KNIGHTS AND LADIES AUXILARY
      </h2>
      <h3 class="animated fadeInUp text-center">Register here</h3>
      <div class="col-md-12 row">
        <div class="col-md-6 animated fadeInLeft">
          <a href="/commandery"><button class="btn">Commandery</button></a>
        </div>
        <div class="col-md-6 animated fadeInRight">
          <a href="/auxiliary"><button class="btn">Auxiliary</button></a>
        </div>
      </div>
    </div>
  </div>
</body>
<%-include('includes/end.ejs')%>
